<div>
  <h1>Categories</h1>

  <div class="categories-container" cdkDropListGroup>
    <div *ngFor="let category of categories" class="category-column">
      <h2>{{ category.name }}</h2>

      <app-tasks
        [categoryId]="category.id"
        [tasks]="category.tasks"
        (taskCreated)="loadCategories()"
        (taskMoved)="onTaskMoved($event)">
      </app-tasks>
    </div>
  </div>

  <div class="create-category-container">
    <h3>Create New Category</h3>
    <div class="input-group">
      <input
        [(ngModel)]="newCategoryName"
        class="category-input"
        placeholder="Enter category name"
      />
      <button
        class="create-category-button"
        (click)="createCategory()">Create
      </button>
    </div>
  </div>
</div>
